n8nRAG/TP5_n8n_RAG_Email_JohnJaccard.json
{
  "name": "TP5",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "output": "fields",
        "fields": [
          "subject",
          "body",
          "sender"
        ],
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlookTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "e242fb5a-ac02-4a31-a690-678d3d802e9f",
      "name": "Microsoft Outlook Trigger",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "Pc5DWq1XogTipmQP",
          "name": "Microsoft Outlook account 22"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => { \nconst subject = item.json.subject || \"\"; \nconst body = item.json.body || \"\"; \nreturn { \njson: { \n...item.json, \ntext_for_embedding: `search_query: Objet: \n${subject}\\nMessage:\\n${body}` \n} \n}; \n}); "
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "5eafb5bd-f31a-4a8d-b426-532c278392cc",
      "name": "text_for_embedding"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://gpu.cpnv.me:11434/api/embeddings",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "nomic-embed-text-v2-moe"
            },
            {
              "name": "prompt",
              "value": "={{$json.text_for_embedding}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        -96
      ],
      "id": "c6cd0c18-e0b9-4b93-9d3e-306e1648512a",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        544,
        112
      ],
      "id": "06e1b252-dfb2-4698-bfa2-e085d750f99c",
      "name": "Merge"
    },
    {
      "parameters": {
        "fileSelector": "/data/embeddingJaccard.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        720,
        -112
      ],
      "id": "9b2ee80f-b0e5-4fc8-abde-9daba8b99877",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        880,
        -112
      ],
      "id": "9d0bc1f1-7d96-4661-8a43-9c4852edfa5c",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "\nconst raw = $input.all();\n\nlet emails = [];\n \nraw.forEach(item => {\n  const dataArray = item.json.data || [];\n \n  dataArray.forEach(d => {\n    if (d.line) {\n      try {\n        const parsed = JSON.parse(d.line);\n \n        emails.push({\n          subject: parsed.subject || \"\",\n          body_text: parsed.body_text || \"\"\n        });\n \n      } catch (e) {}\n    }\n  });\n});\n \n// ----------------------------\n// ⚠️ SÉCURITÉ\n// ----------------------------\nif (emails.length < 2) {\n  return [\n    {\n      json: {\n        message: \"Pas assez d'emails pour calculer une similarité\",\n        count: emails.length\n      }\n    }\n  ];\n}\n\nfunction tokenize(text) {\n  if (!text) return [];\n \n  return text\n    .toLowerCase()\n    .replace(/[^\\w\\s]/g, \"\")\n    .split(/\\s+/)\n    .filter(Boolean);\n}\n \nfunction buildVocabulary(docs) {\n  const vocab = new Set();\n \n  docs.forEach(doc => {\n    tokenize(doc).forEach(word => vocab.add(word));\n  });\n \n  return Array.from(vocab);\n}\n \nfunction textToVector(text, vocab) {\n  const words = tokenize(text);\n \n  const freq = {};\n  words.forEach(w => {\n    freq[w] = (freq[w] || 0) + 1;\n  });\n \n  return vocab.map(word => freq[word] || 0);\n}\n \nfunction dot(a, b) {\n  return a.reduce((sum, v, i) => sum + v * b[i], 0);\n}\n \nfunction magnitude(v) {\n  return Math.sqrt(v.reduce((s, x) => s + x * x, 0));\n}\n \nfunction cosine(a, b) {\n  const denom = magnitude(a) * magnitude(b);\n  if (!denom) return 0;\n  return dot(a, b) / denom;\n}\n \n\nconst vocab = buildVocabulary(emails.map(e => e.body_text));\n \n\nconst vectors = emails.map(e => textToVector(e.body_text, vocab));\n \n// moyenne des vecteurs = \"centre sémantique\"\nconst avgVector = [];\n \nfor (let i = 0; i < vocab.length; i++) {\n  let sum = 0;\n \n  for (let j = 0; j < vectors.length; j++) {\n    sum += vectors[j][i];\n  }\n \n  avgVector.push(sum / vectors.length);\n}\n \nconst results = emails.map((email, i) => {\n  const vec = vectors[i];\n  const similarity = cosine(vec, avgVector);\n \n  return {\n    json: {\n      subject: email.subject,\n      body_text: email.body_text,\n      similarity: Number(similarity.toFixed(2))\n    }\n  };\n});\n\nresults.sort((a, b) => b.json.similarity - a.json.similarity);\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        112
      ],
      "id": "c8a85c71-2aa1-4876-b671-d5bc369ec172",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "// Récupère les 3 similaires (input)\nconst emails = $input.all().slice(0,3);\n\n// Reconstruit l'email entrant depuis le 1er embedding (contexte préservé)\nconst incoming = {\n  subject: $('Microsoft Outlook Trigger').first().json.subject,\n  sender: $('Microsoft Outlook Trigger').first().json.sender.emailAddress.address,\n  body: $('Microsoft Outlook Trigger').first().json.body.content\n};\n\n// FORMAT EXACT (une seule ligne)\nconst prompt = `EMAIL REÇU Sujet: ${incoming.subject} Expéditeur: ${incoming.sender} Contenu: ${incoming.body} EMAILS SIMILAIRES Email 1: Sujet: ${emails[0].json.subject} Contenu: ${emails[0].json.body_text} Email 2: Sujet: ${emails[1]?.json.subject} Contenu: ${emails[1]?.json.body_text} Email 3: Sujet: ${emails[2]?.json.subject} Contenu: ${emails[2]?.json.body_text} CONSIGNE Rédige une réponse professionnelle.`;\n\n// Debug (optionnel)\nconsole.log(prompt);\n\nreturn [{ json: { rag_prompt: prompt } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        112
      ],
      "id": "65c2f702-03d7-41b8-9cf2-99585f9024b4",
      "name": "n8n RAG Prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://gpu.cpnv.me:11434/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "mistral"
            },
            {
              "name": "prompt",
              "value": "={{ $json.rag_prompt }}"
            },
            {
              "name": "stream",
              "value": "={{false}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1456,
        112
      ],
      "id": "53140514-6070-4ad8-9bb1-715bd165ab9f",
      "name": "HTTP Request - Generate Reply"
    },
    {
      "parameters": {
        "jsCode": "// On récupère tous les items en entrée\nreturn items.map(item => {\n  return {\n    json: {\n      generated_reply: item.json.response\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1664,
        112
      ],
      "id": "0418353f-8b90-4138-acfe-848e5814e83f",
      "name": "Format generated Reply"
    }
  ],
  "pinData": {},
  "connections": {
    "Microsoft Outlook Trigger": {
      "main": [
        [
          {
            "node": "text_for_embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "text_for_embedding": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "n8n RAG Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n RAG Prompt": {
      "main": [
        [
          {
            "node": "HTTP Request - Generate Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Generate Reply": {
      "main": [
        [
          {
            "node": "Format generated Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "70317d08-7141-40b5-8fb1-062f22ff9bd6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9d30d1f1874df20c0dc0c5e334ba45c46152a3794403b022f504026a467e081f"
  },
  "id": "xKRDs9kAJDgg6AOV",
  "tags": []
}